﻿@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .btn{
            width: 100%;
        }

        label{
            width: 100%;
            text-align: center;
        }
    </style>
    
    

    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input class="form-control" type="text" id="txtdisplay" value="0"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <input id="btnCE" type="button" class="btn btn-outline-warning" value="CE"></input>

            </div>
            <div class="form-group col-md-1">

                <input id="btnC" type="button" class="btn btn-outline-warning" value="C"></input>

            </div>
            <div class="form-group col-md-1">

                <input id="btnDel" type="button" class="btn btn-outline-warning" value="<-"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-primary btnOp" value="+"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <input type="button" class="btn btn-outline-secondary btnNum" value="7"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-secondary btnNum" value="8"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-secondary btnNum" value="9"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-primary btnOp" value="-"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <input type="button" class="btn btn-outline-secondary btnNum" value="4"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-secondary btnNum" value="5"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-secondary btnNum" value="6"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-primary btnOp" value="*"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <input type="button" class="btn btn-outline-secondary btnNum" value="1"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-secondary btnNum" value="2"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button" class="btn btn-outline-secondary btnNum" value="3"></input>

            </div>
            <div class="form-group col-md-1">

                <input type="button"  class="btn btn-outline-primary btnOp" value="/"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <input type="button" class="btn btn-outline-secondary btnNum" value="0"></input>

            </div>
            <div class="form-group col-md-1">
                <input type="button" class="btn btn-outline-secondary btnNum" value="."></input>

            </div>
            <div class="form-group col-md-2">

                <input type="button" id="btnResultado" class="btn btn-outline-success" value="="></input>

            </div>

            
        </div>
        

    </form>
    <script>
        
        var val1 = 0.0;
        var val2 = 0.0;
        var op = "";

        function operacao(value) {
            var display = document.getElementById("txtdisplay");
            //val1 = val1 + parseInt(display.value);
            if (display.value == "0")
                val1 = val1 + parseFloat(display.value);
            else
                val1 = parseFloat(display.value);
            op = value;
            limpaDisplay();
            
        }
        function escreve(value) {
            var display = document.getElementById("txtdisplay");
            if (display.value == "0")
                display.value = "";
            display.value = display.value + value;
        }

        function limpaDisplay() {
            var display = document.getElementById("txtdisplay");
            display.value = "0";
        }
        function limpaMemoria() {
           
            limpaDisplay();
            val1 = 0;
            val2 = 0;
            op = "";
        }

        function del() {
            var display = document.getElementById("txtdisplay");
            if (display.value.length == 1)
                limpaDisplay();
            else
                display.value = display.value.substring(0, display.value.length-1);

        }

        function resultado() {
            var display = document.getElementById("txtdisplay");
            val2 = parseFloat(display.value);
            
            if (op == "+") {
                val1 = val1 + val2;
            }
            else {
                if (op == "-") {
                    val1 = val1 - val2;
                }
                else {
                    if (op == "*") {
                        val1 = val1 * val2;
                    }
                    else {
                        val1 = val1 / val2;
                    }
                }
            }
            display.value = val1;
            //limpaDisplay();

        }


        document.getElementById("btnCE").onclick = limpaDisplay;
        document.getElementById("btnC").onclick = limpaMemoria;
        document.getElementById("btnDel").onclick = del;
        document.getElementById("btnResultado").onclick = resultado;

        var btnsNum = document.getElementsByClassName("btnNum");
        
        for (i = 0; i < btnsNum.length; i++) {
            btnsNum[i].onclick = function(){ escreve(this.value) };
        }

        var btnsOp = document.getElementsByClassName("btnOp");
        
        for (i = 0; i < btnsOp.length; i++) {
            btnsOp[i].onclick = function () { operacao(this.value) };
        }

      

        $(document).ready(function () {
            //inicializa();
        });

        function inicializa() {
            var btnsOp = document.getElementsByClassName("btnOp");
            for (i = 0; i < btnsOp.length; i++) {
                btnsOp[i].disabled = true;
            }
        }


    </script>


    

    
        
    

    


